## Lab: List Comprehensions
*  Start with Cartesian product example (colors x sizes of t-shirts) and a
*  add a third list, __`sleeves = ['short', 'long']`__ then write a new listcomp which generates the Cartesian product __`colors x sizes x sleeves`__. __`tshirts`__ should look like this:<pre><b>
    [['black', 'S', 'short'],
     ['black', 'S', 'long'],
     ['black', 'M', 'short'],
     ['black', 'M', 'long'],
     ['black', 'L', 'short'],
     ['black', 'L', 'long'],
     ['white', 'S', 'short'],
     ['white', 'S', 'long'],
     ['white', 'M', 'short'],
     ['white', 'M', 'long'],
     ['white', 'L', 'short'],
     ['white', 'L', 'long']]
     
 </b></pre>

In [1]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L', 'XL']
sleeves = 'short long'.split()

In [ ]:
tshirts = [[color, size, sleeve] for size in sizes
                                     for color in colors
                                         for sleeve in sleeves]
tshirts

NameError: name 'size' is not defined

## What did we learn today?
* some Git
* venv
* list comprehensions
* how annoying it can be to set up SSH keys and some other required setup

* Use a list comprehension to create a list of the squares of the integers from 1 to 25 (i.e, 1, 4, 9, 16, …, 625)

In [16]:
import math
squares = [math.sqrt(num ** 3) for num in range(1, 26)] # or num ** 2
print(squares)

[1.0, 2.8284271247461903, 5.196152422706632, 8.0, 11.180339887498949, 14.696938456699069, 18.520259177452136, 22.627416997969522, 27.0, 31.622776601683793, 36.4828726939094, 41.569219381653056, 46.87216658103186, 52.38320341483518, 58.09475019311125, 64.0, 70.09279563550022, 76.36753236814714, 82.8190799272728, 89.44271909999159, 96.23408959407264, 103.18914671611545, 110.30412503619254, 117.57550765359255, 125.0]

* Given a list of words, create a second list which contains all the words from the first list which do not end with a vowel

In [26]:
words = 'apple fig pear banana milk tomato'.split()
no_end_in_vowel_words = [word[::-1] for word in words
                                if word[-1] not in 'aeiou'] # filter
no_end_in_vowel_words

['gif', 'raep', 'klim']

In [25]:
'salesforce'[::-1]

'ecrofselas'

* Use a list comprehension to create a list of the integers from 1 to 100 which are not divisible by 5

In [ ]:
no_divis_by_5 = [num for num in range(1, 101) if num % 5] # filter
print(no_divis_by_5)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99]

## "Truthiness"
* in a Boolean context...
* 0 and 0.0 are considered False; all other numbers are considered True
* empty containers are considered False; non-empty containers are considered True

In [34]:
number = 0.01

In [35]:
if number: # "is this number non-zero"
    print('yep')

yep

In [44]:
container = ''
len(container)

0

In [43]:
if container: # is container non-empty?
    print('yep!')

* Use a list comprehension and __`zip()`__ to create a list of lists, where the list items are name and ID number that you grabbed from separate lists of names and ID numbers
  * start with a list of, say, 5 names ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
  * and a list of, say, 5 ID numbers [1003, 2043, 8762, 7862, 1093]
  * additional wrinkle: do not include any names whose corresponding ID is -1

In [46]:
names = ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
ids = [1003, 2043, 8762, 7862, 1093]

employees = [[name, id] for name, id in zip(names, ids)]
employees

[['John', 1003],
 ['Mary', 2043],
 ['Edward', 8762],
 ['Linda', 7862],
 ['Dinesh', 1093]]

In [47]:
names = ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
ids = [1003, 2043, -1, 7862, -1]

employees = [[name, id] for name, id in zip(names, ids)
                            if id != -1]
employees

[['John', 1003], ['Mary', 2043], ['Linda', 7862]]

In [53]:
x = 3
y = 4

In [56]:
x, y = y, x
print(x, y)

4 3

In [50]:
temp = x
x = y
y = temp
print(x, y)

4 3

In [57]:
t = 'Benioff', 'Marc', 'CEO', 1997

In [58]:
last, first, *rest = t

In [59]:
last, first

('Benioff', 'Marc')

In [60]:
rest

['CEO', 1997]

In [ ]:
last, first, *_ = t

In [ ]:
for _ in range(5): # _ signals the reader that we don't need this value
                   # _ says this loop is "repeat the action 5 times"
    print('did we do this?')

did we do this?
did we do this?
did we do this?
did we do this?
did we do this?

In [68]:
for count in range(10, 0, -1):
    print(count)
print('blast off')

10
9
8
7
6
5
4
3
2
1
blast off

In [69]:
t = 'Benioff', 'Marc', 'CEO', 1997

In [71]:
last, first, _, year = t # should make clear to the reader that the third field of the tuple isn't interesting

In [72]:
%cat poem.txt

TWO roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.

In [81]:
f = open('poem.txt') # 'r' is the default

In [ ]:
line_no = 1
for each_line in f: # Python lets us iterate through files
    if line_no % 2 == 1: # odd
        print(each_line, end='') # don't print \n after each line
    line_no += 1

# ...
# ...
f.close()

TWO roads diverged in a yellow wood,
And be one traveler, long I stood
To where it bent in the undergrowth;
Then took the other, as just as fair,
Because it was grassy and wanted wear;
Had worn them really about the same,
And both that morning equally lay
Oh, I kept the first for another day!
I doubted if I should ever come back.
I shall be telling this with a sigh
Two roads diverged in a wood, and I—
And that has made all the difference.

In [83]:
f.close()

In [ ]:
with open('poem.txt') as f:
    # processing of the file...
    for each_line in f: # Python lets us iterate through files
        print(each_line, end='')
    print('in with block, f.closed =', f.closed)
    # don't put stuff in here that is not related/processing the file

# the file f was automagically closed by Python when leaving the with block
print('after with block, f.closed =', f.closed)

TWO roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.
in with block, f.closed = False
after with block, f.closed = True

In [87]:
employee = 'Williams', 'Mike', 2024, True

In [ ]:
last, first, start_year, boomerang = employee # tuple unpacking

In [ ]:
last, first, start_year, _ = employee # tuple unpacking and ignoring some field(s)

In [91]:
last, first, *rest = employee # tuple unpacking and grouping remaining stuff into a list

In [92]:
rest

[2024, True]

In [94]:
nums = list(range(10))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
first, *rest, last = nums

In [96]:
first

0

In [99]:
rest

[1, 2, 3, 4, 5, 6, 7, 8]

In [100]:
last

9

In [101]:
first, *_, last = nums

In [102]:
_

[1, 2, 3, 4, 5, 6, 7, 8]

In [103]:
nums[3]

3

## Lab: Exceptions
1. write a function to "int-ify" a string safely–if the int-ification fails, return __`None`__
2. write a function to convert a list of strings into a list of ints
   * if the input is, say, __`['1', '3', '0', '12', '8']`__, the output should be __`[1, 3, 0, 12, 8]`__
   * if the input contains an item which can't be converted, the result should be -1, e.g,
     * input: __`['1', '3', '0', 'x', '9']`__ output: __`[1, 3, 0, -1, 9]`__
   * your function may call the function you wrote above, if you wish
3. write a function which raises an exception, rather than returning a sentinel value
   * use the __`raise`__ keyword in Python to raise an exception
   * perhaps a "withdraw" function which accepts the amount to withdraw and the current balance as arguments

In [125]:
def intify(num_string):
    """Return the integer value of a string.

    Returns None if the string can't be "int-ified".
    """
    try:
        return int(num_string)
    except ValueError:
        return None

In [127]:
intify('bad'), intify('-12345')

(None, -12345)

In [ ]:
def convert_strings_to_ints(list_of_strings):
    """Return a list of ints from each converted string."""

    numeric_vals = []
    
    for string in list_of_strings:
        try:
            numeric_vals.append(int(string))
        except ValueError:
            numeric_vals.append(-1) # if conversion fails, substitute a -1
    
    return numeric_vals

In [124]:
mylist = ['1', '23', '-45', '19']
print(convert_strings_to_ints(mylist))
mylist[-1] = '19x'
print(convert_strings_to_ints(mylist))

[1, 23, -45, 19]
[1, 23, -45, -1]

In [ ]:
def withdraw(balance, amount):
    """Reduce balance by amount".

    Throws ValueError if amount exceeds balance.
    """
    if amount <= balance:
        balance -= amount
        return balance
    else:
        raise ValueError(f"Cannot withdraw €{amount}, or account would be overdrawn!")

In [120]:
withdraw(200, 20), withdraw(20, 200)

ValueError: Cannot withdraw €200, or account would be overdrawn!

In [130]:
# containers
string = 'salesforce'
names = 'Virginia Mike Rajesh Sirisha Uday'.split() # list
employee = 'Williams', 'Mike', 2025, 'boomerang' # tuple
name_dict = { 'Virginia': 'Yee', 'Mike': 'Williams' }
name_set = { 'Virginia', 'Mike', 'Braden' } # set

In [132]:
'Dinesh' in names

False

In [135]:
'Yee' in name_dict.values()

True

In [ ]:
'Virginia' in name_dict

True

In [139]:
's' in 'salesforce'

True

In [ ]:
'sales' in 'salesforce' # lets you do a substring

True

In [145]:
my_dict = { 'one': 1, 'two': 2, 'too': 2, 'three': 3 }

In [143]:
# EAFP style
key = 'one!'

# ...

try:
    print(my_dict[key])
except KeyError:
    print('bad key:', key)

bad key: one!

In [ ]:
# LBYL style
key = 'one!'

# question to ask
if key in my_dict: # Look...
    print(my_dict[key]) # Leap
else: 
    print('bad key:', key)

In [149]:
help(my_dict.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [ ]:
print(my_dict.get('toon', 0)) # personally, I don't like this

0

In [ ]:
number = int(input('Enter a number: '))

ValueError: invalid literal for int() with base 10: 'fejfkdfk'

In [156]:
number

351

In [158]:
number = input('Enter a number: ')

In [169]:
number = '    -1234      '

In [167]:
number.isdigit()

False

In [170]:
int(number)

-1234

In [171]:
try:
    int(number)
except ValueError:
    print('bad number')

## Do LBYL if it's EASY, otherwise EAFP
* if you have to jump thru a lot of hoops to LBYL (or it's not possible at all), then EAFP

In [172]:
my_list = 'apple fig pear banana'.split()

In [182]:
index = 21
# ...
my_list[index]

IndexError: list index out of range

In [184]:
if index < len(my_list): # LBYL
    print(my_list[index])
else:
    print('out of range!')

out of range!

In [ ]:
try:
    print(my_list[index])
except IndexError:
    print('out of range!')

out of range!

In [186]:
import random

In [187]:
random.__file__ # where did you import that file from

'/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/random.py'

In [189]:
import string

In [190]:
string.__file__

'/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/string.py'

In [2]:
%run dunder_test.py

__name__ is __main__

In [3]:
import dunder_test # .py

__name__ is dunder_test

In [4]:
assert 2 + 2 == 4

In [6]:
assert 2 + 2 == 5, "What the heck?"

AssertionError: What the heck?

In [7]:
%cat new_module.py

"""A bunch of shared functions for the doohickey team."""

FOO_BAR = "foo...bar" # constant


def func1():
    """func1"""
    return None


def func2(x):
    """func2"""
    return x + 1


def func3(x, y, z):
    """func3"""
    return x + y + z


# "unit tests" – not great, but better than nothing

# smoke tests

if __name__ == '__main__': # are we running this Python file or importing it?
    assert func1() is None
    assert func2(1) == 2
    assert func3(1, 2, 3) == 6

In [15]:
%run new_module.py

all tests passed

In [10]:
import new_module

In [12]:
new_module.func2(1)

2

# Modules

In [16]:
import data_functions

In [17]:
dir(data_functions)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'convert_strings_to_ints',
 'intify',
 'invert_a_dict']

In [18]:
data_functions.intify('345')

345

In [19]:
data_functions.convert_strings_to_ints('1 2 3 4 x'.split())

[1, 2, 3, 4, -1]

In [ ]:
data_functions.invert_a_dict({ 'a': 1, 'b': 2, 'c': 3 })

{1: 'a', 2: 'b', 3: 'c'}

In [21]:
help(data_functions)

Help on module data_functions:

NAME
    data_functions - Gazornin functions needed by the data team.

FUNCTIONS
    convert_strings_to_ints(list_of_strings)
        Return a list of ints from each converted string.

    intify(num_string)
        Return the integer value of a string.

        Returns None if the string can't be "int-ified".

    invert_a_dict(d)
        Invert a dictionary and return the inverted dict.

        Won't work if any values in the dictionary are mutable.

FILE
    /Users/dave-wadestein/Downloads/Python/Intermediate-Python-salesforce/data_functions.py

In [22]:
from importlib import reload

In [24]:
reload(data_functions)

hi

In [26]:
%run data_functions.py

all tests passed

In [1]:
import data_functions

In [2]:
help(data_functions)

Help on module data_functions:

NAME
    data_functions - Gazornin functions needed by the data team.

FUNCTIONS
    convert_strings_to_ints(list_of_strings)
        Return a list of ints from each converted string.

    intify(num_string)
        Return the integer value of a string.

        Returns None if the string can't be "int-ified".

    invert_a_dict(d)
        Invert a dictionary and return the inverted dict.

        Won't work if any values in the dictionary are mutable.

FILE
    /Users/dave-wadestein/Downloads/Python/Intermediate-Python-salesforce/data_functions.py

In [3]:
print(data_functions.intify('45x'))

None

In [4]:
employee_to_num = {'Mike': 157069, 'Santhosh': 20675, 'Carlos': 17271}

In [5]:
employee_to_num['Carlos']

17271

In [6]:
data_functions.invert_a_dict(employee_to_num)

{157069: 'Mike', 20675: 'Santhosh', 17271: 'Carlos'}

In [7]:
%run data_functions.py

all tests passed

In [8]:
def newfunc():
    return 0

In [9]:
newfunc()

0

## functions are first-class objects
* functions can be passed into other functions as arguments

In [11]:
sorted('salesforce')

['a', 'c', 'e', 'e', 'f', 'l', 'o', 'r', 's', 's']

In [16]:
sorted([3, 2, 5, 1, 9, 6], reverse=True)

[9, 6, 5, 3, 2, 1]

In [13]:
sorted({ 'thing': 25, 'soup': 19 })

['soup', 'thing']

In [15]:
print(1, 2, 3, sep='...')

1...2...3

In [ ]:
words = 'apple fig pear'.split() # generate a lists

In [18]:
sorted(words)

['apple', 'fig', 'pear']

In [19]:
sorted(words, key=len)

['fig', 'pear', 'apple']

In [20]:
import math

In [21]:
math.factorial

In [22]:
def fact(n):
    pass # placeholder

In [23]:
fact

In [24]:
fruits = ['strawberry', 'banana', 'fig', 'apple', 'cherry','kiwi']
fruits

['strawberry', 'banana', 'fig', 'apple', 'cherry', 'kiwi']

In [25]:
sorted(fruits)

['apple', 'banana', 'cherry', 'fig', 'kiwi', 'strawberry']

In [26]:
sorted(fruits, key=len)

['fig', 'kiwi', 'apple', 'banana', 'cherry', 'strawberry']

In [27]:
'salesforce'[::-1]

'ecrofselas'